*{box-sizing: border-box}
body {
	font-family: Arial, Helvetica, sans-serif;
    background-color: #99a0a8;
}
.menunav {
  width: 100%;
  background-color: #65696e;
  overflow: auto;
}
.menunav a {
  float: left;
  padding: 15px;
  color: #f0f3f7;
  text-decoration: none;
  font-size: 20px;
  width: 25%;
  text-align: center;
}
.menunav a.active {
  background-color: #37547d;
}
.menunav a:hover {
  background-color: #37547d;
}
@media screen and (max-width: 500px) {
  .menunav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
.gymimage {
  position: relative;
  text-align: center;
  color: white;
}
.gymname {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0f3f7;
  font-size: 50px;
}
.teamcolumn {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width: 650px) {
  .teamcolumn {
    width: 100%;
    display: block;
  }
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #37547d;
  color: #f0f3f7;
  text-decoration: none;
  font-size: 20px;
}
table {
  font-family: arial, sans-serif;
  width: 100%;
}
td,tr {
  text-align: left;
  padding: 8px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #37547d;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #37547d;
}
p {
  text-align: justify;
  letter-spacing: 3px;
}
li {
  text-align: justify;
  letter-spacing: 3px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.textbox {
  border: 1px solid gray;
  padding: 8px;
}
